.works {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.workImage {
    height: 500px;
    width: 500px;
    transform: scaleX(-1);
}

.line {
    height: 1px;
    width: 50%;
    background-color: gray;
}